@tailwind base;
@tailwind components;
@tailwind utilities;

/* MathJax Overrides for Inline Rendering */
mjx-container[jax="SVG"][display="true"] {
  display: block;
  text-align: center;
  margin: 1em 0;
}

mjx-container[jax="SVG"]:not([display="true"]) {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
}

/* Ensure MathJax doesn't break prose layout */
.prose mjx-container {
  color: inherit !important;
}
